
/* Formulário */
.formulario-conteiner {   /*CAIXA LILÁS COM INPUTS */
    width: 60%; /* ou até 55%, ajuste conforme visual */
    background-color: #354D9B;
    padding: 2em;
    border-radius: 15px;
}

.caixa-conteudo {
    display: flex;
    width: 80%; /*80*/
    /*flex-wrap: wrap;*/
    gap: 2em;
    margin: 0 auto;
    justify-content: center;

}

/* Upload de Foto */
.envio-de-foto {
    width: 250px; /* ou: width: 30%; */
    height: 35vh;
    background: #B4C5FF;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    color: #555;
    border-radius: 10px;
    border: 0.3rem solid #87A2FF;
    position: relative;
    text-align: center;
    
}

.btn-salvar {
    width: 10rem; /*15*/
    padding: 0.7rem; /*1.2rem*/
    text-align:center;
    /* margin-right: 29.5rem; /*posicionar o botao 29.5rem*/
   
}


.input-file {
    display: none;
}

.p{      /*conferir se precisa apagar */
    width: 5px;
}

.file-label {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.0vw;
    color: #555;
    cursor: pointer;
    width: 100%;
    height: 100%;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 10px;
}