body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.cadastro-container {
    background-color: #ffffff;
    width: 100%;
    max-width: 400px;
    padding: 20px 30px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.cadastro-form {
    text-align: center;
}

.titulo {
    font-size: 24px;
    color: #333333;
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 15px;
    text-align: left;
}

.input-group label {
    font-size: 14px;
    color: #555555;
    display: block;
    margin-bottom: 5px;
}

.input-group input {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    color: #333333;
    border: 1px solid #cccccc;
    border-radius: 5px;
    outline: none;
    box-sizing: border-box;
}

.input-group input:focus {
    border-color: #6c63ff;
}

.botao-cadastrar {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    font-weight: 500;
    color: #ffffff;
    background-color: #6c63ff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.botao-cadastrar:hover {
    background-color: #5753d1;
}

.botao-cadastrar:active {
    background-color: #4b49b3;
}