:root {
    --cor-primaria: #fffefc;
    --cor-secundaria: #fff;
    --cor-terciaria: #000;
    --cor-quaternaria: #ff432a;
    --cor-quinaria: #e64a19;
}


/* Estilos gerais */
body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--cor-secundaria);
}

/* Container principal */
.container {
    display: flex;
    width: 100%;
    max-width: 2200px;
    height: 100vh;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

/* Seção de imagem */
.image-section {
    position: relative;
    flex: 1;
    overflow: hidden;
}

.background-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(70%);
}

.logo {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

.logo img {
    width: 150px;
}

/* Seção do formulário */
.form-section {
    flex: 1;
    background: var(--cor-secundaria);
    display: flex;
    flex-direction: column;
    justify-content: center;
    /*align-items: center;*/
    padding: 0 5%;
}

.form-section h1 {
    margin-bottom: 10px;
    font-size: 2rem;
    color: var(--cor-terciaria);
}

.form-section p {
    margin-bottom: 20px;
    color: var(--cor-terciaria);
    line-height: 1.5;
}

.highlight {
    font-weight: bold;
}

.highlight a {
    text-decoration: none;
    color: var(--cor-quaternaria);
}

/* Estilo dos inputs */
form {
    display: flex;
    flex-direction: column;
}

label {
    margin: 15px 0 5px;
    font-weight: bold;
    color: #333;
}

.input-group {
    position: relative;
    display: flex;
    align-items: center;
}

.input-icon, .input-eye {
    position: absolute;
    width: 20px;
    height: 20px;
}

.input-icon {
    left: 10px;
}

.input-eye {
    right: 10px;
    cursor: pointer;
}

.usuario, .senha {
    width: 100%;
    padding: 10px 40px;
    margin-bottom: 10px;
    border: none;
    border-bottom: 2px solid var(--cor-terciaria);
    outline: none;
    font-size: 1rem;
}

.usuario:focus, .senha:focus {
    border-bottom-color: var(--cor-quaternaria);
}

/* Opções abaixo do formulário */
.options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
    font-size: 0.9rem;
    color: var(--cor-terciaria);
}

.options label {
    justify-content: left;
}

.options a {
    text-decoration: none;
    color: var(--cor-terciaria);
}

.options a:hover {
    color: var(--cor-quinaria);
}

/* Botão de login */
.btn-login {
    width: 100%;
    padding: 12px;
    background: var(--cor-quaternaria);
    color: var(--cor-secundaria);
    border: none;
    border-radius: 25px;
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.3s;
}

.btn-login:hover {
    background: var(--cor-quinaria);
}

/* Rodapé */
footer {
    margin-top: auto;
    font-size: 0.8rem;
    text-align: center;
    color: #aaa;
}
