/* Configuração de alinhamento e fontes */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif !important;
}

/* Layout Principal */
.container {
    display: flex;
    height: 100vh;
    width: 100%;
}

/* Barra Lateral (Menu) */
.barra-lateral {
    width: 18%;
    background-color: #F2F5FF;
    padding: 2%;
    box-shadow: 4px 0 10px rgba(122, 122, 122, 0.25);
    position: fixed;
    height: 100vh;
}

.logo img {
    width: 100%;
    margin-bottom: 8%;
}

/* Botões do Menu */
.barra-lateral nav ul {
    list-style: none;
    padding: 0;
}

.barra-lateral nav ul li {
    margin-bottom: 10%;
}

.barra-lateral nav ul li a {
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 10px 15px;
    background-color: #405394;
    border-radius: 10px;
    font-size: 1.2vw;
    text-align: center;
    gap: 8px; /* Espaço entre o ícone e o texto */
}

/* Ícones do Menu */
.icone {
    width: 24px;
    height: 24px;
    margin-right: 10px;
    vertical-align: middle;
    display: inline-block;
}

/* Conteúdo Principal */
.conteudo {
    flex: 1;
    padding-left: 20%;
    padding-top: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Cabeçalho */
header {
    background-color: #405394;
    color: white;
    padding: 1.5%;
    width: 82%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 18%;
    height: 10%;
}

h1 {
    font-size: 2vw;
}

/* Informações do Usuário */
.info-usuario {
    display: flex;
    align-items: center;
    font-size: 1vw;
    position: relative;
    gap: 1vw; /* Define um espaçamento flexível entre o avatar e o texto */
    padding-right: 2vw; /* Afasta o texto da borda direita */
}

/* Estilização do "Admin" */
.info-usuario small {
    font-size: 0.8vw; /* Reduz o tamanho do texto */
    color: #cfcfcf; /* Define um tom acinzentado */
    margin-top: 2px; /* Adiciona um pequeno espaço entre os textos */
    display: block; /* Faz com que "Admin" fique abaixo do nome */
}

/* Avatar */
.avatar {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: white;
    padding: 5px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
}

/* Fundo Geral */
.fundo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-image: url("../assets/textura-de-plano-de-fundo.png");
    background-size: cover;
    background-position: center;
    background-repeat: repeat;
    z-index: -1;
}
