.entrada{
    display: flex;
    flex-direction: column;
    gap: 25px; /*espaço entre as "entradas"*/
    /*padding:15px;*/  /**/
    width: 20%;
}

input {
   
    width: 100%;        
    padding: 15px; /**/
    border: 1px solid #ccc;
    border-radius: 5px;
   
}

.detalhes {   /*quadrado de info*/
    background: #2c3e77;
    padding: 30px; /*espaço entre os imputs e  o limite quadrado de info*/
    border-radius: 10px;
    margin-top: 20px;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 20px;
    
}

.salvar-btn {
    background: #0d6efd;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}
/* adicionando */
.formulario {
    display: block;
    justify-items: center;
    width: 100%;
    gap: 2rem;
}



