.cadastro-container {
    max-width: 65vw;
    margin: 15vh auto 0;
    padding: 2.5rem;
    background-color: #405394;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cadastro-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1.5rem;
}

.campo {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.campo label {
    font-size: 1.2rem;
    color: #F2F5FF;
    margin-bottom: 0.5rem;
}

.obrigatorio {
    color: inherit;
    font-weight: bold;
}

/* Campos de entrada */
.campo input,
.campo select {
    padding: 0.8rem;
    font-size: 1rem;
    color: #333;
    background-color: #F2F5FF;
    border: none;
    border-radius: 0.5rem;
}

/* Botão de Salvar*/
.btn-salvar {
    width: 15em;
    padding: 12px;
    background: var(--cor-primaria);
    color: var(--cor-terciaria);
    font-size: 1em;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    gap: 8px;
    font-weight: bold;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease-in-out;
    margin: 30px auto 0;
}

/* Efeito Hover */
.btn-salvar:hover {
    background: var(--cor-quaternaria);
    transform: scale(1.05);
}

/* Efeito ao clicar */
.btn-salvar:active {
    background: #0B2C87;
    transform: scale(0.98);
}

/* Responsividade */
@media (max-width: 1024px) {
    .cadastro-container {
        max-width: 75vw;
    }
}

@media (max-width: 768px) {
    .cadastro-container {
        max-width: 85vw;
        margin: 10vh auto 0;
    }
}