/* Formulário */
.formulario-container {
    display: block;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin-top: 7.5%;
    gap: 2rem; /* Adicionando espaço entre os elementos */
}

/* Upload de Foto */
.upload-de-foto {
    margin-bottom: 7.5%;
    width: 100%;
    height: 35%;
    background: #B4C5FF;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2vw;
    color: #555;
    border-radius: 10px;
    border: 3px solid #87A2FF;
}

/* Campos do Formulário */
.campos-formulario {
    width: 100%;
    background: var(--cor-primaria);
    padding: 3%;
    border-radius: 15px;
    /*border: 3px solid #151F3F;*/
    box-shadow: 0px 6px 12px rgba(50, 66, 122, 0.3);
    display: flex;
    flex-direction: column;
    gap: 15px; /* Adiciona espaço entre os campos */
}

fieldset {
    gap: 2%;
}

legend {
    color: var(--cor-terciaria);
}

legend, .lado-a-lado {
    margin-bottom: 2%;
}

fieldset, .caixa {
    width: 100%;
}

.caixa {
    display: flex;
    flex-wrap: wrap;
}

.caixa-input {
    flex-grow: 1;
    flex-basis: 200px;
    margin-bottom: 1em;
}

.lado-a-lado, .lado-mesclado {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.lado-a-lado, .caixa-contato {
    gap: 3%;
}

.telefone {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.telefone-selecao {
    border-left: 1px solid #d6d6d6;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    width: 79%;
}

/* Estilo dos Inputs */
.input-sem-ponta {
    border-radius: 8px;
}

.caixa input, select {
    width: 100%;
    padding: 12px;
    border: none;
    /*border-radius: 8px;*/
    font-size: .7em;
    background-color: var(--cor-secundaria);
    /*box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.1);*/
}

option:hover {
    background-color: var(--cor-quaternaria);
}

/* Botão de Salvar */
.btn-salvar {
    width: 15em; /* Reduz o tamanho */
    padding: 12px; /* Tamanho proporcional */
    background: var(--cor-primaria);
    color: var(--cor-terciaria);
    font-size: 1em;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px; /* Espaço entre ícone e texto */
    font-weight: bold;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease-in-out;
    margin: 20px auto 0; /* Centraliza o botão */
}

/* Ícone dentro do botão */
.btn-salvar i {
    font-size: 1vw;
}

/* Efeito Hover */
.btn-salvar:hover {
    background: var(--cor-quaternaria);
    transform: scale(1.05);
}

/* Melhora de visibilidade ao clicar */
.btn-salvar:active {
    background: #0B2C87;
    transform: scale(0.98);
}

/* Espaço abaixo do botão */
.campos-formulario {
    display: flex;
    flex-direction: column;
    gap: 15px; /* Espaço entre os inputs */
    align-items: center; /* Centraliza o botão */
}
